
<div >
  <div ><span >Room: {{film[0].room}} </span><span class="title">{{film[0].title}}</span>
  </div>
  <img [src]="film[0].poster">
  <div class="info">
      <div >
    <b>Genres</b>
    <ul>
      <li *ngFor="let genre of film[0].genres">
        {{genre}}
      </li>
    </ul></div>
    <div >
    <b>Year </b>
    <span>{{film[0].year}}</span>
  </div>
    <div >
    <b>Director </b>
    <span>{{film[0].director}}</span>
  </div>
    <div >
    <b>Actors</b>
      <ul>
        <li *ngFor="let actor of film[0].actors">
          {{actor}}
        </li>
      </ul>
    </div>
      <div >
      <b>Time</b>
      <span>{{film[0].hours}} hours</span>
      </div>
      <b>Synopsis</b>
      <p>{{film[0].synopsis}}</p>
  </div>
</div>
<button [routerLink] = "['/home']" >Home</button>